/**
 * Vysoké Učení Technické v Brne
 * Fakulta Informačných Technologie
 * Predmet: ITU
 * Projekt: Pexeso
 * 
 * @author Romana Džubárová (xdzuba00)
 * @author Daniel Miloslav Očenáš (xocena06)
 * 
 * @description general styling of the application
 */
 
 .App{
  background: white;
  background-position: center;
}

.navxdzuba00 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: lightpink;
  color: darkgrey;
  font-family: "Copperplate Gothic Light", serif;
  font-weight: normal;
  box-shadow: 5px 5px 5px;
}
.navxocena06 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #f76c6c;
  color: darkgrey;
  font-family: "Copperplate Gothic Light", serif;
  font-weight: normal;
  box-shadow: 5px 5px 5px;
}

.nav-links {
  min-height: 10vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li{
  text-align: center;
  height: 100%;
  font-size: 0.7em;
}
.App_container{
  width: 640px;
  height: 640px;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
}

.Title {
  color: #00008e;
  font-family: "Copperplate Gothic Light", serif;
  font-weight: normal;
  text-align: left;
  font-size: 4em;
}

.Info {
  margin:0;
  padding: 0;
  color: black;
  font-family: "Copperplate Gothic Light", serif;
  font-size: 0.5em;
  text-align: left;
  list-style: none;
  letter-spacing: 1px;
}

.endGame {
  color: darkgreen;
  font-family: "Copperplate Gothic Light", serif;
  font-weight: normal;
  text-align: center;
  padding-bottom: 50px;
  font-size: 3em;
}

.gameState {
  color: black;
  font-family: "Copperplate Gothic Light", serif;
  font-size: medium;
  text-align: center;
  margin: 10px;
}

.card {
  height: 80px;
  width:  80px;
  margin: 5px;
  position: relative;
  border-radius: 5px;
  color: darkgrey;
  text-align: center;
  cursor: pointer;
}

.Card:active{
  transform: scale(.97);
  transition: transform .2s;
}

.Card-front{
  height: 80px;
  width: 80px;
  background:  #ffffff;
  border-radius: 5px;
  vertical-align: center;
  box-shadow: 3px 3px 3px 2.5px rgba(0,0,0,0.2);
}

.Card-back{
  height: 80px;
  width: 80px;
  background: lightgoldenrodyellow;
  border-radius: 5px;
  vertical-align: center;
  box-shadow: 3px 3px 3px 2.5px rgba(0,0,0,0.2);
}

@media (min-width: 600px){
  .card {
    height: 100px;
    width:  100px;
    position: relative;
    border-radius: 5px;
    color: darkgrey;
    text-align: center;
    cursor: pointer;
  }
  .Card-front{
    height: 100px;
    width: 100px;
    background:  #ffffff;
    border-radius: 5px;
    vertical-align: center;
    box-shadow: 3px 3px 3px 2.5px rgba(0,0,0,0.2);
  }
  
  .Card-back{
    height: 100px;
    width: 100px;
    background: lightgoldenrodyellow;
    border-radius: 5px;
    vertical-align: center;
    box-shadow: 3px 3px 3px 2.5px rgba(0,0,0,0.2);
  }
  .Info{   
    color: black;
    font-family: "Copperplate Gothic Light", serif;
    font-size: 1em;
    text-align: left;
    list-style: none;
    letter-spacing: 1px;
  }
  .nav-links li{
    text-align: center;
    height: 100%;
    font-size: 1.1em;
  }
}
.card:hover{
  transform: scale(1.02);
}

.card span{
  line-height: 50px;
}

.gameBoard {
  display: flex;
  justify-content: center;
}

.button{
  background-color:  lightgoldenrodyellow;
  height: 100px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  color: darkgrey;
  box-shadow: 5px 5px 5px;
  border-radius: 12px;
  border: none;
  outline: 0;
  margin: 10px;
}
.button:hover{
  transform: scale(1.02);
}
.button:active{
  transform: scale(0.97);
}

.button_image {
  height: 80px;
  width: 80px;
  border-radius: 12px;
}

.click{
  color: #ffd700;
  text-decoration: none;
}

p{
  color: black;
}

.second{
  color: lightskyblue;
  font-size: large;
}

.first{
  color: lightseagreen;
  font-size: large;
}

td{
  font-size: small;
}
