.App{
  background: white;
  background-position: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: lightpink;
  color: darkgrey;
  font-family: "Copperplate Gothic Light", serif;
  font-weight: normal;
  box-shadow: 5px 5px 5px;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.App_container{
  width: 640px;
  height: 640px;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
}

.Title {
  color: #00008e;
  font-family: "Copperplate Gothic Light", serif;
  font-weight: normal;
  text-align: left;
  font-size: 4em;
}

.Info {
   color: black;
   font-family: "Copperplate Gothic Light", serif;
   font-size: 1em;
   text-align: left;
   list-style: none;
   letter-spacing: 1px;
 }

.endGame {
  color: darkgreen;
  font-family: "Copperplate Gothic Light", serif;
  font-weight: normal;
  text-align: center;
  padding-bottom: 50px;
  font-size: 3em;
}

.gameState {
  color: black;
  font-family: "Copperplate Gothic Light", serif;
  font-size: medium;
  text-align: center;
  margin: 10px;
}

.card {
  height: 100px;
  width:  100px;
  margin: 5px;
  position: relative;
  box-shadow: 5px 5px 5px;
  background-color: lightgoldenrodyellow;
  border-radius: 5px;
  color: darkgrey;
  text-align: center;
}

.card span{
  line-height: 50px;
}

.gameBoard {
  display: flex;
  justify-content: center;
}

.Card:active{
  transform: scale(.97);
  transition: transform .2s;
}

.Card-front{
  height: 100px;
  width: 100px;
  background:  #ffffff;
  border-radius: 5px;
}

.Card-back{
  height: 100%;
  width: 100%;
  background: lightgoldenrodyellow;
  border-radius: 5px;
}

.button{
  background-color:  lightgoldenrodyellow;
  height: 100px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  color: darkgrey;
  box-shadow: 5px 5px 5px;
  border-radius: 12px;
  border-color: lightgoldenrodyellow;
  margin: 10px;
}

.button_image {
  height: 80px;
  width: 80px;
  border-radius: 12px;
}

.click{
  color: #ffd700;
  text-decoration: none;
}

p{
  color: black;
}

.second{
  color: lightskyblue;
  font-size: large;
}

.first{
  color: lightseagreen;
  font-size: large;
}

td{
  font-size: small;
}
