/**
 * Vysoké Učení Technické v Brne
 * Fakulta Informačných Technologie
 * Predmet: ITU
 * Projekt: Pexeso
 * 
 * @author Romana Džubárová (xdzuba00)
 * @author Daniel Miloslav Očenáš (xocena06)
 * 
 * @description card styling 
 */
 
 .Card {
  height: calc(25% - 10px);
  width:  calc(25% - 10px);
  margin: 5px;
  position: relative;
  box-shadow: 8px 8px 8px;
  background-color: #282c34;
  border-radius: 5px;
  transform: scale(1);
  color: black;
  text-align: center;
  cursor: pointer;
}


.Card-front{
  height: 100%;
  width: 100%;
  background:  #DA70D6;
  border-radius: 5px;
}

.Card-back{
  height: 100%;
  width: 100%;
  background: #282c34;
  border-radius: 5px;
}
